<!-- Description: This is footer available for all the required pages and its overview the policies
     Author     : JEEVA ARAVINTH J V
     Start Date : 12 Dec 2023
     End Date   : 12 Dec 2023
     Reviewed   :
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
</head>
<body>
  <div class="main-container">
    <div class="footer">
      <!-- About Company  -->
        <div class="about">
          <h2>STACK-QUEUE</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dicta laborum laudantium. Animi, impedit quidem tempore, error, repellat dicta corporis laudantium a tenetur inventore sint delectus! Dolores, nemo explicabo. Dolores?</p>
        </div>
        <!-- About Company -->

        <!-- Company policies -->
        <div class="career">
          <h2>About us</h2>
          <ul>
            <li><i class="fa-solid fa-building"></i>&nbsp;&nbsp;Company</li>
            <li><i class="fa-solid fa-suitcase"></i>&nbsp;&nbsp;Jobs</li>
            <li><i class="fa-solid fa-person-chalkboard"></i>&nbsp;&nbsp;Career</li>
            <li><i class="fa-solid fa-address-book"></i>&nbsp;&nbsp;Contact us</li>
          </ul>
        </div>
        <!-- Company policies -->

        <!-- terms and conditions -->
        <div class="terms">
          <h2>Terms</h2>
          <ul>
            <li><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Terms of use</li>
            <li><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Privacy Policy</li>
            <li><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Refund Policy</li>
            <li><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Cookies Policy</li>
            <li><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;FAQ's</li>
          </ul>
        </div>
        <!-- terms and conditions -->

        <!-- popular courses -->
        <div class="popular-courses">
          <h2>Popular Courses</h2>
          <ul>
            <li><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Python</li>
            <li><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;JAVA</li>
            <li><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Web development</li>
            <li><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Angular</li>
            <li><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;React</li>
          </ul>
        </div>
        <!-- popular courses -->

        <!-- social media -->
        <div class="social-media">
          <h2>Follow us on</h2>
          <div class="social-icons">
            <div><i class="fa-brands fa-facebook-f" id="facebook"></i></div>
            <div><i class="fa-brands fa-instagram" id="instagram"></i></div>
            <div><i class="fa-brands fa-x-twitter" id="twitter"></i></div>
          </div>
          <div class="social-icons">
            <div><i class="fa-brands fa-threads" id="thread"></i></div>
            <div><i class="fa-brands fa-linkedin-in" id="linkedin"></i></div>
          </div>
        </div>
        <!-- social media -->
    </div>

    <!-- Copyrights -->
    <div class="copyrights">
      <div class="line"></div>
      <div class="rights">
        <i class="fa-regular fa-copyright"></i>
        <h5>Copyrights 2024. All rights reserved</h5>
      </div>
    </div>
    <!-- Copyrights -->
  </div>
</body>
</html>
