<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STACK-QUEUE | Login</title>
</head>
<body>
  <!-- login page starts -->

  <div class="login-form">
    <div class="form">
        <div class="institute-logo">
          <a (click)="home()"><img src="../../assets/Stack Queue logo white.png" alt=""></a>
        </div>
        <div class="form-design">
          <form action="">
            <div class="heading">
              <h1 id="login-heading">Forgot Password</h1>
            </div>
            <div class="working">
              <img src="../../assets/working.png" alt="">
            </div>
            <div class="form-control">
              <label for="">Email ID</label>
              <input type="email" placeholder="stack@gmail.com">
            </div>
            <div class="form-control">
              <label for="">New Password</label>
              <input type="password" placeholder="XXXXX">
            </div>
            <div class="form-control">
              <label for="">Confirm Password</label>
              <input type="password" placeholder="XXXXX">
            </div>
            <div class="form-control">
              <button>Change Password</button>
            </div>
            <div class="form-register">
              Know account password? <a (click)="login()">Sign in</a>
            </div>
            <div>
            </div>
          </form>
        </div>
    </div>
    <div class="login-img">
      <img src="../../assets/forest.png" alt="">
      <h1>STACK-QUEUE</h1>
    </div>
    <img src="../../assets/forgot-password.png" alt="" class="login-lock">
    <img src="../../assets/graduation-cap.png" alt="" class="graduation-cap">
    <img src="../../assets/key.png" alt="" class="key">
    <img src="../../assets/men-thinking.png" alt="" class="men-thinking">
  </div>


  <!-- login page ends -->
</body>
</html>
