<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Most Recommended</title>
</head>
<body>
  <div class="technology">
    <div class="tech-items">
    <div class="logo">
       <img src="../../assets/JAVA-intern.jpg" alt="">
       <!-- <div class="free-source"><p>Free</p></div> -->
    </div>
    <div class="contents">
      <div><h1><b>Intern your skill by Java</b></h1></div>
      <div class="learner">
      <div class="lecturer">
        <div id="lecturer"><i class="fa-solid fa-circle-play"></i>&nbsp;30 Lectures</div>
        <div id="learners"><i class="fa-solid fa-graduation-cap"></i>&nbsp;30K+ Learners</div>
      </div>
        <div class="voilet-div"></div>
      </div>
      <div class="enroll">
        <div><button>Enroll now</button></div>
        <div><h3>Rs.1,500</h3></div>
      </div>
    </div>
  </div>

  <div class="tech-items">
    <div class="logo">
       <img src="../../assets/C-intern.jpg" alt="">
       <!-- <div class="free-source"><p>Free</p></div> -->
    </div>
    <div class="contents">
      <div><h1><b>Intern your skill by C</b></h1></div>
      <div class="learner">
      <div class="lecturer">
        <div id="lecturer"><i class="fa-solid fa-circle-play"></i>&nbsp;30 Lectures</div>
        <div id="learners"><i class="fa-solid fa-graduation-cap"></i>&nbsp;30K+ Learners</div>
      </div>
        <div class="voilet-div"></div>
      </div>
      <div class="enroll">
        <div><button>Enroll now</button></div>
        <div><h3>Rs.1,000</h3></div>
      </div>
    </div>
  </div>

  <div class="tech-items">
    <div class="logo">
       <img src="../../assets/PYTHON-intern.jpg" alt="">
       <!-- <div class="free-source"><p>Free</p></div> -->
    </div>
    <div class="contents">
      <div><h1><b>Intern your skill by Python</b></h1></div>
      <div class="learner">
      <div class="lecturer">
        <div id="lecturer"><i class="fa-solid fa-circle-play"></i>&nbsp;30 Lectures</div>
        <div id="learners"><i class="fa-solid fa-graduation-cap"></i>&nbsp;30K+ Learners</div>
      </div>
        <div class="voilet-div"></div>
      </div>
      <div class="enroll">
        <div><button>Enroll now</button></div>
        <div><h3>Rs.10,000</h3></div>
      </div>
    </div>
  </div>

  <div class="tech-items">
    <div class="logo">
       <img src="../../assets/Angular-intern.jpg" alt="">
       <!-- <div class="free-source"><p>Free</p></div> -->
    </div>
    <div class="contents">
      <div><h1><b>Intern your skill by Angular</b></h1></div>
      <div class="learner">
      <div class="lecturer">
        <div id="lecturer"><i class="fa-solid fa-circle-play"></i>&nbsp;30 Lectures</div>
        <div id="learners"><i class="fa-solid fa-graduation-cap"></i>&nbsp;30K+ Learners</div>
      </div>
        <div class="voilet-div"></div>
      </div>
      <div class="enroll">
        <div><button>Enroll now</button></div>
        <div><h3>Rs.8,000</h3></div>
      </div>
    </div>
  </div>

  </div>
</body>
</html>
